.card-columna{
    display: flex;
    flex-direction: row ;
    gap: 15px;
    justify-content: center;
}
.div-card-columna{
    background-color: #f5f5f5;
    border: 1px solid gray;
    border-radius: 5px;
    
}