.contactContainer {
    text-align: center;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 5px;
    justify-content: center;
    width: 20%;
}

.inputContainer input {
    background: white;
    border-radius: 5px;
    border: 2px solid #F5F5F5;
    color: black;
}

.inputContainer label {
    font-weight: bold;
}
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-link{
    display: flex;
    justify-content: space-around;
}