.info-conteiner{


    background-color: bisque;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    background-size: 100% 100%;
}
.conteiner-descripcion{
    padding: 10px;
    color: black;
    background: #f5f5f5;
}
.conteiner-descripcion h2{
    font-size: 36px;
}
.conteiner-descripcion p{
    font-size: 18px;
    opacity: 0.5;
}
.img-foto{
    width: 100% ;
    height: 100%;
}